header {
    background-color: #202020;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#pjce {
    color: #ffffff;
    margin-left: 15%;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#dev {
    color: #00eeff;
    margin-left: 15%;
    font-size: 1.5rem;
}
