@media all {
    .infoCard {
        display: grid;
        height: 18rem;
        width: 70%;
        min-width: 560px;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        grid-template-columns: 20% 12rem 12rem auto;
        grid-template-rows: 20% 65% 15%;
    }

    a {
        color: black;
    }

    .title {
        font-weight: 700;
        font-style: normal;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row: 1;
        font-size: 2rem;
        padding: 0px;
        margin: 0px;
        margin-left: 1rem;
        margin-top: 1rem;
    }

    .title:hover {
        background-color: #ffffff;
        color: #00eeff;
    }

    .description {
        width: auto;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    a {
        text-decoration: none;
        padding: 1rem;
        font-weight: 700;
    }

    a:hover {
        background-color: #303030;
    }

    .fe {
        grid-row: 3;
        grid-column: 2;
        padding-left: 1rem;
        padding-top: 0.8rem;
        padding-right: 0;
        color: #00eeff;
        background-color: #202020;
    }

    .be {
        grid-row: 3;
        grid-column: 3;
        padding-top: 0.8rem;
        color: #00eeff;
        background-color: #202020;
    }

    #showcaseImage {
        height: 100%;
        width: 100%;
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 4;
        background-color: aqua;
    }

    #githubDiv {
        grid-column: 4;
        grid-row: 3;
        background-color: #202020;
        text-align: right;
    }

    #githubLogo {
        height: 100%;
        width: 2.5rem;
        background-color: #202020;
        margin-right: 0.5rem;
    }
}

@media all and (max-width: 700px) {
    .infoCard {
        display: grid;
        min-height: 30rem;
        width: 85%;
        min-width: 100px;
        margin-top: 3rem;
        margin-bottom: 3rem;

        margin-left: auto;
        margin-right: auto;
        background-color: white;
        grid-template-columns: 50% 50%;
        grid-template-rows: 35% 2.2rem auto 3rem;
    }

    .title {
        margin-top: 1rem;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 2;
        font-size: 1.7rem;
        margin-left: 1rem;
    }

    .description {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 3;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    a {
        text-decoration: none;
        padding: 1rem;
        font-weight: 700;
    }

    a:hover {
        background-color: #303030;
    }

    .fe {
        grid-row: 4;
        grid-column: 1;
        padding-left: 1rem;
        padding-top: 0.4rem;
        padding-right: 0;
        color: #00eeff;
        background-color: #202020;
        font-size: 1rem;
        text-align: center;
    }

    .be {
        grid-row: 4;
        grid-column: 2;
        padding-top: 0.4rem;
        color: #00eeff;
        background-color: #202020;
        font-size: 1rem;
        text-align: center;
    }

    #showcaseImage {
        height: 100%;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: 1;
        background-color: aqua;
    }

    #githubDiv {
        display: none;
    }

    #githubLogo {
        display: none;
    }
}
