@media all {
    .page-title {
        font-size: 3rem;
        text-align: center;
        border: none;
        margin-bottom: 1rem;
    }

    .upper-image {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 10rem;
        background-color: grey;
    }

    h2 {
        margin-left: 25%;
    }

    p {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .links {
        font-weight: 400;
        font-style: italic;
    }

    .links:hover {
        color: #ffffff;
    }

    .article-image {
        display: block;
        width: 400px;
        margin: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .links-section {
        max-width: 70%;
        width: fit-content;
        align-content: center;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (max-width: 700px) {
    .page-title {
        font-size: 3rem;
        text-align: center;
        border: none;
        margin-bottom: 1rem;
    }

    .upper-image {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: 10rem;
        background-color: grey;
    }

    h2 {
        margin-left: 25%;
    }

    p {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }

    .links {
        font-weight: 400;
        font-style: italic;
    }

    .links:hover {
        color: #ffffff;
    }

    .article-image {
        display: block;
        width: 400px;
        margin: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    .links-section {
        max-width: 70%;
        width: fit-content;
        align-content: center;
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
}
